
@font-face {
    font-family: akzidenzgroteskbecn;
    src: url(../../assets/fonts/akzidenzgroteskbecn-webfont.ttf);
}
body {
    background-color: #000;
    font-family: "akzidenzgroteskbecn", Helvetica, Sans-serif;
    color: rgba(106,39,30,1);
}
#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

#layerone {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -80;
    background-size: cover;
    background-color: rgba(0,0,200,0);
}
video {display: block;}
.images{
    padding: 3%;
}
#text {
    background: rgba(255,255,255,0.95);
    top: 0;
    width:100%;
    text-align:center;
    font-family: "akzidenzgroteskbecn";
    color: rgba(106,39,30,1);
}

.imgbtn img{
    margin-top: -25px;
    cursor: pointer;
}

.navbar-default {
   background: rgba(255,255,255,0.95); 
   top: 0;
}

.navbar {
  position: relative;
  min-height: 80px;
  margin-bottom: 20px;
  border: 0px solid transparent;
  border-radius: none;
}

@media (min-width: 768px)
.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 20px;
}

